.products-container .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.375rem;
  text-align: center;
}

.products-container .header-container > h1 {
  color: #555555;
}

.products-container .header-container .header-text {
  width: 90%;
  font-size: 1.2rem;
  color: #888888;
}

.products-container .header-container p {
  margin-bottom: 0.75rem;
}

@media (min-width: 568px) {
  .products-container .header-container .header-text {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .products-container .header-container .header-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 960px) {
  .products-container .header-container .header-text {
    font-size: 1.8rem;
  }
}

.products-container .header-container .hr {
  width: 4%;
  height: 1px;
  margin: 0.75rem;
  background-color: #555555;
}