.products-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.85rem;
  padding-bottom: 2.75rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 96%;
  margin: auto;
}

@media (min-width: 1400px) {
  .products {
    width: 90%;
  }
}