.products-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.85rem;
  padding-bottom: 2.75rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 96%;
  margin: auto;
}

.dialog-wrapper {
  display: flex;
}

@media (min-width: 800px) {
  .dialog-container {
    width: 80%;
    height: 70%;
  }
}
