.single-product {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;
  padding: 24px 16px 44px 16px;
}

.single-product img {
  max-width: 200px;
}

.single-product .product-image-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-bottom: 24px;
  box-shadow: 1px 1px 2px 0 lightgrey;
}

.single-product .product-link-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 0.9rem;
}

.single-product .product-link {
  margin-right: 24px;
  text-decoration: underline;
}

.single-product .product-name-link {
}

.single-product .product-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.single-product .product-header > p {
  margin-bottom: 6px;
}

.single-product .product-value.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.single-product .product-value.product-id {

}

.single-product .product-value.product-price {
  font-size: 1.1rem;
  color: darkgray;
}

.single-product .product-description {
  margin-bottom: 20px;
  text-align: center;
}

.single-product .product-dimensions {
  display: flex;
  justify-content: center;
}

.single-product .product-value {
  font-size: 0.9rem;
}