.single-product {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;
  color: #555555;
}

@media (min-width: 700px) {
  .single-product {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 700px) {
  .single-product .product-details-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

.single-product img {
  max-width: 200px;
}

.single-product .product-image-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-bottom: 24px;
  box-shadow: 1px 1px 2px 0 lightgrey;
}

@media (min-width: 700px) {
  .single-product .product-image-container {
    width: 45%;
    max-width: 340px;
    margin-right: 32px;
  }
}

.single-product .product-link-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 0.8rem;
  padding: 0 12px;
}

@media (min-width: 700px) {
  .single-product .product-link-container {
    width: 85%;
    justify-content: flex-start;
    margin: auto;
  }
}

.single-product .product-link {
  margin-right: 24px;
  color: #555555;
  text-decoration: underline;
}

@media (min-width: 700px) {
  .single-product .product-link {
    margin-right: 8px;
  }
}

.single-product .product-details {
  text-align: center;
}

@media (min-width: 700px) {
  .single-product .product-details {
    width: 50%;
    text-align: unset;
  }
}

.single-product .product-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4px 8px 4px;
  margin-bottom: 16px;
}

.single-product .product-header > p {
  margin-bottom: 6px;
}

.single-product .product-value.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.single-product .product-value.product-price {
  font-size: 1.6rem;
  color: darkgray;
}

.single-product .product-description {
  margin: 0 8px 20px 8px;
  padding: 0 4px;
}

@media (min-width: 700px) {
  .single-product .product-description {
    margin: 0 8px 20px 0;
  }
}

.single-product .product-dimensions {
  display: flex;
  justify-content: center;
  padding: 0 4px;
  font-size: 0.9rem;
}

@media (min-width: 700px) {
  .single-product .product-dimensions {
    justify-content: unset;
  }
}